<%= form_for(RecordLabelMicropostComment.new, url: record_label_micropost_comments_path(@record_label, @micropost), remote: true) do |f| %>
  <div class="highgate">
    <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
  </div>
  <div class="ellicott">
    <%= f.submit "comment",  class: "exchange" %>
  </div>
<% end %>
