<% if fan_signed_in? || artist_signed_in? || record_label_signed_in? || venue_signed_in? || producer_signed_in? %>
  <%= form_for(RecordLabelMicropostComment.new, url: record_label_micropost_comments_path(micropost.record_label, micropost), remote: true) do |f| %>
  <div class="highgate">
    <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
  </div>
  <div class="ellicott">
    <%= f.submit "comment", data: { disable_with: 'posting...' },  class: "exchange" %>
  </div>
  <% end %>
<% else %>
<div class="amherst lasalle">
  <%= link_to "sign in", sign_in_path %> to comment on this status.
</div>
<% end %>
