<header class="buffalo ontario fourth">
  <div class="austin">
    <nav class="parkside">
        <ul>
          <li><%= link_to "developers", new_developer_path, class: "depew" %></li>
          <li><%= link_to "posts", new_post_path, class: "depew" %></li>
          <li><%= link_to "settings", edit_buffalo_registration_path, class: "depew" %></li>
          <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
        </ul>
    </nav>
  </div>
</header>
