<%= provide(:title, "About") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>the history of noisaea</h1>
    </div>

    <div class="highgate">
      <h3>Rewind all the way back to 2010...</h3>
    </div>

    <p class="minnesota">I was a senior in high school. Nothing but Halo 3, girl crushes, and not doing homework were on my horizon.</p>
    <p class="minnesota">Early in my hardcore Halo days I discovered that my K/D increased tremendously whenever I would listen to music while playing.</p>

    <p class="minnesota">It was then that my PSP and I were attached at the hip.</p>

    <p class="minnesota">But alas, the PSP sucked and could hold a total of 7 songs at once. 32MBs ffs.</p>

    <p class="minnesota">I got my hands on a shiny new iPod touch for Christmas that year and filled all whopping 8GBs in a 20 minute sync to iTunes.</p>

    <p class="minnesota">But I listed to every song on that iPod multiple times and was getting very bored.</p>

    <p class="minnesota">K/D slowly slipping away, I needed more music. More, <i>new</I> music.</p>

    <p class="minnesota">That sent me down a rabbit hole. Looking through MySpace, Facebook, and iTunes I found that bands beyond Disturbed and Deftones existed and some actually sounded good too!</p>

    <p class="minnesota">But why hadn't I heard of them? My friends hadn't heard of them either. Do you see where I'm going with this yet? I'll bet you do. </p>

    <div class="highgate">
      <h3>Noisaea was created!</h3>
    </div>

    <p class="minnesota">In my head at least. Oh, and it wasn't called noisaea either. It had an even better name - Rising Bands Network. Oh yeah, a network for all the rising bands.</p>

    <p class="minnesota">And on this network you could purchase a package for a certain amount of money per month and I would create a beautiful profile for you online and market it to my wonderful audience of zero.</p>

    <p class="minnesota">I quickly got to work on the best looking site anyone had ever seen. I blew up and cropped a 400x200 picture I took at a Slipknot concert with my 2MP camera to a 1200x200 blurry mess and used that as my header image. I then downloaded a font called "28 Days Later" off of dafont.com and slapped "Rising Bands Network" right on top of Corey Taylor's face. It was amazing.</p>

    <p class="minnesota">Of course, that's sarcastic and it actually looked like a pile of garbage. Ling and his cars might have actually had a better design than me.</p>

    <p class="minnesota">I had that site up for the first three months of college and I'm assuming you know what happened.</p>

    <p class="minnesota">Nothing happened. I was all like "wtf dont ppl wanna have there band on the internets?"</p>

    <p class="minnesota">They did, but not for 20 dollars a month.</p>

    <p class="minnesota">I made the site commit seppuku and just like that it was gone to become fossil fuel to power your 2003 Dodge Neon. Not organic? Shut your mouth.</p>

    <div class="highgate">
      <h3>Backflip 360 spin-twist 540, I needed a new idea</h3>
    </div>

    <p class="minnesota">That idea was to create a clothing brand, half inspired by Drama with Young and Reckless and half inspired by the Arbor Collective.</p>

    <p class="minnesota">Both featured music on their sites and made cool-ass apparel to sell go cool-ass kids like me.</p>

    <p class="minnesota">It was the perfect gateway to get people to discover new music. I called it Recover Clothing!</p>

    <p class="minnesota">I designed a few shirts and created a website with a store, blog, and artists section. People were going to the blog and music section, but not the store section.</p>

    <p class="minnesota">I think the entire 6 months that site existed I made 5 sales and ended up spending the money on Blue Raspberry UV (which sent me to the hospital, but that's a story for a different day.)</p>

    <p class="minnesota">But, fret not! The music section was amazing. I had 15 artists on the site and it was beautifully designed, surprisingly not sarcastic.</p>

    <p class="minnesota">It featured a bunch of local bands and a little band I like to call Ice Nine Kills. They also like to call themselves that.</p>

    <p class="minnesota">I was proud, but this site sucked. It was costing more to host it than I was making from the shirts. The music section was supposed to help me sell those shirts. Thanks a lot, Ice Nine Kills.</p>

    <p class="minnesota">Recover Clothing fell on its sword. Dead.</p>

    <div class="highgate">
      <h3>The move to Texas and the start of something different</h3>
    </div>

    <p class="minnesota">The music section was the only thing that worked with Recover, so why not make a site with only the music section.</p>

    <p class="minnesota">It would support itself with Google AdSense (I know, it's a goner right there) and it would be called Wired Music Network.</p>

    <p class="minnesota">Moving to Dallas and dealing with an insane girlfriend fried all my brain cells and caused the site to die in 8 days. I wasn't even finished building the damn thing.</p>

    <p class="minnesota">Side note: Dallas did not fry my brain cells, the girl did, you guys are lovely.</p>

    <p class="minnesota">I had a lot to think about on my lonely 24 hour drive from Dallas to Buffalo and while most of it was taken up by my air conditioner shutting down, the brakes going out, my back tire exploding while driving on the I90 at 80mph, I still had the idea of the beautiful band website in my head.</p>

    <p class="minnesota">I thought and thought and thought and thought and thought and figured that Wired Music Network could have been a real thing if it weren’t for my personal life getting in the way. Dang you, girls.</p>

    <p class="minnesota">Almost immediately after sleeping for ~15 hours in my own bed again, I got up and built a complete copy of Wired Music Network. This time I named it brilliantly, Beats Realm. It was official as hell because my dad cut the logo out of wood. Hell yeah!</p>

    <p class="minnesota">The site was great. I built it on WordPress with the Egesto theme (the same theme as Recover Clothing and Wired Music Network.) This time it had hover effects!</p>

    <p class="minnesota">I would find artists and offer to build them a free profile on my site that I would maintain for free and I would do everything for them for free.</p>

    <p class="minnesota">It was awesome! Before the first month was even over I had over 100 artists on the site. The problem started after that. I was getting 5-6 sign ups per day and since I was handling all the profile building I couldn’t keep up with it. Between my full time job and maintaining profiles for Beats Realm I had a total of 5 hours of sleep per night and I lived off of 1$ energy drinks. (Rip-its, they’re badass.)</p>

    <p class="minnesota">I kept the site up with over 300 artists on it, but stopped accepting new artists. I needed a way for artists to add their own information and maintain their own profiles because my brains were oozing out trying to do all this.</p>

    <div class="highgate">
      <h3>Time to fly away from WordPress</h3>
    </div>

    <p class="minnesota">Up until this point I did nothing but code on WordPress, but WordPress couldn’t do what I wanted to do. I needed to learn a backend language. Ooooohhh, scaaaaaaarryyyy!</p>

    <p class="minnesota">After a crazy amount of research, I figured that Ruby on Rails would be best for my situation, mostly because I found out that that’s what SoundCloud was written with.</p>

    <p class="minnesota">So I got to learning… and learning and learning and failing and learning and learning and messing up and learning.</p>

    <p class="minnesota">I did several tutorials and totally did not get it at all. I followed Michael Hartl’s Rails Tutorial and thought that I could just build off of what I learned there. And for a couple of months I did, until confusion finally took over and the entire project caved in on itself and was covered in red text… errors.</p>

    <p class="minnesota">The second time around I had a way better understanding of Rails and web development in general. Still, the end result was the same, although this time it was because I didn’t understand the more complex parts of Rails.</p>

    <p class="minnesota">The third time I built a really complex app with everything I wanted. Music playlists, tour lists, status updates, merch stores, full page profiles with connections to every, importing music videos. However, I personally felt like I half-assed the whole project and frankly the CSS file was way too massive and jumbled.</p>

    <p class="minnesota">The fourth time, this time, I decided to just focus on making one thing really, really awesome, but not perfect because I want to make it better in the future.</p>

    <p class="minnesota">I decided I just wanted to focus on status updates and “news feeds”. AND I DID JUST THAT! I also changed the name from stupid, stupid Beats Realm to awesome Noisaea.</p>

    <p class="minnesota">And here we are.</p>

    <p class="minnesota">Love, Alex, the guy behind noisaea //</p>


  </div>
</div>
<%= render "partials/uni_footer" %>
