<%= provide(:title, "Contact") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="large harlem">
      contact noisaea
    </div>

    <p class="northrup">I can help you with your problems! Use one of the current methods to get ahold of me!</p>

    <div class="highgate">
      <h3>email me at</h3>
    </div>

    <ul class="northrup">
      <li>alexheilnoisaea@gmail.com</li>
      <li>noisaeacustomerservice@gmail.com</li>
      <li>aheil4250@gmail.com</li>
    </ul>

    <div class="highgate">
      <h3>tweet me at</h3>
    </div>

    <ul class="northrup">
      <li><a href="https://twitter.com/noisaea">@noisaea</a></li>
      <li><a href="https://twitter.com/noisaeaservice">@noisaeaservice</a></li>
      <li><a href="https://twitter.com/realalexheil">@realalexheil</a></li>
    </ul>

    <p class="northrup">I want to get some sort of ticket system set up for noisaea, where you can fill out a boilerplate contact form and it will be forwarded to me, which will then allow us to email back and forth until your problem or lonliness is solved, but I have been either too lazy to code it or, more realistically, debating whether or not this needs to even happen right now. Happy run-on sentence.</p>

  </div>
</div>
<%= render "partials/uni_footer" %>
