<%= provide(:title, "Contact") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>contact noisaea</h1>
    </div>

    <div class="highgate">
      <h3>email me at</h3>
    </div>

    <ul class="minnesota">
      <li>contactstuff@noisaea.com</li>
      <li>alex@nosiaea.com</li>
      <li>aheil4250@gmail.com</li>
    </ul>

    <p class="minnesota">I want to get some sort of ticket system set up for noisaea, where you can fill out a boilerplate contact form and it will be forwarded to me, which will then allow us to email back and forth until your problem or lonliness is solved, but I have been either too lazy to code it or, more realistically, debating whether or not this needs to even happen right now. Happy run-on sentence.</p>

  </div>
</div>
<%= render "partials/uni_footer" %>
