<%= provide(:title, "Copyright Information") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>copyright policy for noisaea.com</h1>
    </div>
    <p class="minnesota">I, Alex Heil, at letlyrics.com (possibly later referred to as “Site”, “Website”, “I”, “Company”) believe in privacy. I mean who doesn’t? The NSA, that’s who. Ohhhhh, burn.</p>
    <p class="minnesota">The following sentences and paragraphs show just what letlyrics.com does in regards to information gathering and dissemination practices. By accessing the letlyrics.com website and domain name, mobile applications, and any other linked pages, features, content, or application services offered from time to time you acknowledge that you accept the practices and policies outlined in this Privacy Policy.</p>
    <div class="highgate">
      <h3>letlyrics.com collects your personal information</h3>
    </div>
    <p class="minnesota">And let me tell you why.</p>
    <p class="minnesota">Gathering your personal information such as your email, username, password, IP address, browser information, and any other information you provide associated with creating a user account. If that makes you uncomfortable in any way, please do not provide said information on this Site. However, should you choose to go down that path you may not have access to some of the features on letlyrics.com. letlyrics.com uses this information to allow you to fully use the features on this site such as creating content, interacting with other users, etc…</p>
    <p class="minnesota">Oh, but don’t worry. Your personal information will never get bartered, rented, or sold to any third party companies like some crappy repossessed car at an auction.
    <p class="minnesota">Third parties that have access to this Site, such as analytics providers (Google analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. letlyrics.com automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.</p>
    <p class="minnesota">Speaking of third parties, we use third party advertising (Google AdSense), and they may be scooping some information about you (not your name, address, email address, or telephone number) when you visit our pages in order to better provide you with advertisements on this Site or other sites about goods and services that may be of interest to you instead of showing you stuff you hate like slow cars and Barbie Dolls, blah, blah, blah.</p>
    <p class="minnesota">letlyrics.com will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.</p>
    <div class="highgate">
      <h3>Does letlyrics.com use <strike>chocolate chip</strike> cookies?</h3>
    </div>
    <p class="minnesota">Hell yeah we do!</p>
    <p class="minnesota">First of all, third party advertisers (Google AdSense) will place or recognize a cookie on your browser.</p>
    <p class="minnesota">Second of all, letlyrics.com will place or recognize a cookie on your browser so that this Site can recognize your browser. The cookies letlyrics.com uses do not collect your information. In reality, the only time letlyrics.com uses cookies is when you check the “Remember Me” box when signing into the Site. You can choose to turn cookies off in your browser settings, but I recommend keeping them on if you don’t want to keep logging back into the site every 10 seconds.</p>
    <div class="highgate">
      <h3>letlyrics.com links to external sites!</h3>
    </div>
    <p class="minnesota">Damn right, letlyrics.com links to external sites and I’ll tell you which ones right here.</p>
    <p class="minnesota">With using Google AdSense as one of the advertisers on the Site, there are many different external links that they may be linking to. letlyrics.com is not responsible for the privacy on any site Google AdSense links to.</p>
    <div class="highgate">
      <h3>stfukthxbye</h3>
    </div>

  </div>
</div>
<%= render "partials/uni_footer" %>
