<%= provide(:title, "Copyright Information") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="large harlem">
      copyright policy for noisaea.com
    </div>

  </div>
</div>
<%= render "partials/uni_footer" %>
