<%= provide(:title, "Copyright Information") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>copyright policy for noisaea.com</h1>
    </div>

  </div>
</div>
<%= render "partials/uni_footer" %>
