<%= render 'partials/home_header' %>

<div class="buffalo">
  <div class="bailey">
    <div class="delaware">
      <div class="delavan">


        <div class="niagara-falls">
          <%= link_to 'noisaea //', root_url %>
        </div>
        <div class="beta">
          beta
        </div>


      </div>
    </div>
  </div>
</div>

<%= render 'partials/home_footer' %>
