<div class="back-second"></div>
<div class="background"></div>
<%= render 'partials/home_header' %>

<div class="buffalo">
  <div class="bailey">
    <div class="delaware">
      <div class="delavan">


        <div class="niagara-falls">
          <%= link_to 'noisaea //', why_path %>
        </div>
        <div class="kings busti white">
          Noisaea is the universal spot for the music industry, tying together music, media, events, and shop.
        </div>
        <div class="harlem busti">
          <%= link_to "find out more?", why_path, class: "wehrle" %>
        </div>


      </div>
    </div>
  </div>
</div>

<%= render 'partials/home_footer' %>
