<div class="background">
<%= render 'partials/home_header' %>
<div class="buffalo">
  <div class="bailey">
    <div class="delaware">
      <div class="delavan">


        <div class="niagara-falls">
          <%= link_to 'noisaea //', why_path %>
        </div>
        <div class="temp">
          Noisaea is the universal spot for the music industry, tying together music, media, events, and shop. <%= link_to "find out more?", why_path, class: "sugar" %>
        </div>


      </div>
    </div>
  </div>
</div>

<%= render 'partials/home_footer' %>
</div>
