<%= provide(:title, "Privacy Policy") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="large harlem">
      privacy policy for noisaea.com
    </div>
    <p class="northrup"><i>As of November 22nd 2015, 10:17am</i></p>

    <p class="northrup">I’ve been known to write some pretty bomb privacy policies, and by known, I mean known by me and that’s it. If you want to try to sue me over this privacy policy because I make a joke out of the whole thing, be my guest, but know this: DUH GUVAMANT WILL NOT GIT N-E UV YO PRIVATE INFOMATIONZ.</p>

    <p class="northrup">That’s pretty much all you need to know, but if you need more detail on the above statement keep reading because it get oh-so-good.</p>

    <p class="northrup">Here’s a dumb disclosure to start off this sick tour of the privacy policy for noisaea.com:</p>

    <p class="northrup">First off in this legal binding document, where I can make no mistakes at this risk of being sued or something, noisaea, the company name, may be referred to as “Site”, “Website”, “I”, “Company”, “noisaea”, “Noisaea”, or “noisaea.com”. Feel free to swap those names with each other to your liking.</p>

    <p class="northrup">Second, these next few, or many, contingent on how crazy I get, paragraphs will give you a vivid explanation of the nature of information gathering and dissemination practices noisaea follows. By using and accessing noisaea and the noisaea.com domain name, mobile applications, and any other linked pages, features, content, or application services offered from time to time you acknowledge that you accept the practices and policies outlined in this Privacy Policy.</p>

    <div class="highgate">
      <h3>noisaea.com collects your personal information</h3>
    </div>

    <p class="northrup">And let me tell you why.</p>

    <p class="northrup">Gathering your personal information such as your email, username, password, IP address, browser information, and any other information you provide associated with creating a user account. If that makes you uncomfortable in any way, please do not provide said information to noisaea. However, should you choose to go down that path, you may not have access to some of the features on noisaea.com. Noisaea.com uses this information to allow you to fully use the features on this site such as creating content, interacting with other users, etc…</p>

    <p class="northrup">Oh, but don’t worry. Your personal information will never get bartered, rented, or sold to any third party companies like some crappy repossessed car at a governement auction.</p>

    <p class="northrup">Third parties that have access to this Site, such as analytics providers (Google Analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. Noisaea.com automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.</p>

    <p class="northrup">Noisaea doesn’t use and most likely will never use third party advertising. The Site looks crappy enough without the help of ads.</p>

    <p class="northrup">But we do need to make money and for now the following paraghraph stands true, but will definitely change in the future. And by definitely, I mean it is going to change. For sure.</p>

    <p class="northrup">Noisaea.com will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.</p>

    <p class="northrup">Again, that is going to change. I see that word “never” up there. I will inform what I mean by “never”.</p>

    <p class="northrup">nev-er /’never/ adverb: “until I do”</p>

    <p class="northrup">Credit card information/paypal account/bitcoin wallet information will be used to purchase music and merchandise from noisaea.com in the future, but for now does not ask for financial information.</p>

    <div class="highgate">
      <h3>Does noisaea use <strike>chocolate chip</strike> cookies?</h3>
    </div>

    <p class="northrup">Hell yeah we do!</p>

    <p class="northrup">First of all, third party analytics providers (Google Analytics) will place or recognize a cookie on your browser.</p>

    <p class="northrup">Second of all, noisaea.com will place or recognize a cookie on your browser so that this Site can recognize your browser. The cookies noisaea.com uses do not collect your information. In reality, the only time noisaea.com uses cookies is when you check the “Remember Me” box when signing into the Site. You can choose to turn cookies off in your browser settings, but I recommend keeping them on if you don’t want to keep logging back into the site every 10 seconds.</p>

    <div class="highgate">
      <h3>noisaea.com links to external sites!</h3>
    </div>

    <p class="northrup">Damn right, noisaea.com links to external sites and I’ll tell you which ones right here.</p>

    <p class="northrup">First off noisaea alone links to Facebook, Twitter, Alphabet/Google and its services, Instagram, Ticketfly, iTunes, Pinterest, Tumblr, Spotify, and probably more.</p>

    <p class="northrup">Second, many different sites may be linked to via noisaea as users are able to input their own websites into respective fields. Click on these links at your own risk. At the moment there is nothing restricting anyone from posting a link to any site they want. While I don’t expect anyone to link to anything too insane on a music site, there are some crazy people out there. Always make sure to check where the link is headed before clicking. Noisaea is not responsible for your computer exploding when clicking to third party sites.</p>

    <div class="highgate">
      <h3>The stuff you post on noisaea may become public!</h3>
    </div>

    <p class="northrup">There are no private accounts on this site. By private, I mean restricting certain groups of people from viewing your content. If you want to restrict certain users please go make a Twitter account over at <a href="https://twitter.com/">twitter.com</a> and make your account private.</p>

    <p class="northrup">With that being said, almost everything you post/input into the fields on this Site will be public. The only exceptions are your email (seen by admins at noisaea only) and your password (seen buy no one.)</p>

    <p class="northrup">Can we just talk about how your plain text password is automagically encrypted into a 60 character pile of crap (“$2a$10$” + 128-bit salt (base-64 encoded as 22 characters) +184 bits of the resulting hash value (base-64 encoded as 31 characters))? Here's mine: $2a$10$6skTZZLwnODxybydMhEU..QbXEwpdy2j43pKFA0rXp.z2swpMveWa. Noisaea does not store plain text passwords in the database.</p>

    <div class="highgate">
      <h3>Please read these few paragraphs if you are a child or if you are not visiting from the United States of America. Thank you.</h3>
    </div>

    <p class="northrup">Noisaea.com does not knowingly collect, use, maintain, gather, preserve, assemble, or retain any personal information from anyone under the age of 13. No part of this Site is for anyone under the age of 13. It’s like when Virgil and Dante enter the gates of Hell. Lasciate ogne speranza, voi ch'intrate.</p>

    <p class="northrup">If you are visiting this Site from a country other than the United States of America with different data collection and privacy laws than the data collection and privacy laws of the United States of America, please be aware that you are transferring your data to the United States of America. By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.</p>

    <div class="highgate">
      <h3>When this Site’s Privacy Policy changes…</h3>
    </div>

    <p class="northrup">…the date at the top of this page will change. Please check back regularly in order to be in tip-top-noisaea.com-Privacy-Policy shape. Anyone who used this Site prior to the date at the top of this page is subject to the laws and guidelines at the time the information was collected.</p>

    <p class="northrup">Your continued use of this Site means that you agree and fully understand what’s going on in the revised, updated version of the Privacy Policy.</p>

    <p class="northrup">Oh, and guess what?</p>

    <p class="northrup">Noisaea.com reserves the right to change this Privacy Policy at any time. At any minute, any day, any second, any hour this policy can be changed by noisaea.com.</p>

    <p class="northrup">No whining.</p>

  </div>
</div>
<%= render "partials/uni_footer" %>
