<%= provide(:title, "Terms of Use") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>terms of use for noisaea.com</h1>
    </div>

    <p class="minnesota"><i>As of November 22nd 2015, 10:17am</i></p>

    <p class="minnesota">Because I want to launch this site today and I haven’t sat down and written a Terms of Use yet, I need to write this super fast, so that I don’t get sued by anyone.</p>

    <p class="minnesota">Consider this a Terms of Use Lite. The real, big, legit one will be out later this week.</p>

    <p class="minnesota">Definitely read these Terms of Use ("Agreement" or "Terms of Use") carefully before using the services offered by noisaea, hereby referred to as “Site”, “Website”, “I”, “Company”, “noisaea”, “Noisaea”, or “noisaea.com”.</p>

    <p class="minnesota">This agreement sets forth the legally binding terms and conditions for your use of the Website at noisaea.com and the service owned and operated by company, including any mobile software applications offered or published by Company.</p>

    <div class="highgate">
      <h3>Acceptance of these Terms of Use</h3>
    </div>

    <p class="minnesota">By using the Site or Service in any manner, including but not limited to visiting or browsing the Site, you agree to be bound by these Terms of Use. These Terms of Use apply to all users of the Site or Service, including users who are also contributors of content, information, and other materials or services on the Site.</p>

    <p class="minnesota">Included in these Terms of Use is the <a href="https://noisaea.com/privacy">Privacy Policy</a> (<a href="https://noisaea.com/privacy">www.noisaea.com/privacy</a>) and the <a href="https://noisaea.com/copyright">Copyright Policy</a> (<a href="https://noisaea.com/copyright">www.noisaea.com/copyright</a>). Please read those carefully before you use the site, and especially before registering for the site.</p>

    <div class="highgate">
      <h3>Registering for noisaea</h3>
    </div>

    <p class="minnesota">Speaking of registering for an account on noisaea, you acknowledge that you are the official “User/Account” that you are using a <span id="tosusername">“Username”</span> under. Don’t sign up under the username “Lamb of God” if you are not the artist, Lamb of God.</p>

    <p class="minnesota">If the official User can prove that they are the official User that goes by that username via @ mention to <a href="https://twitter.com/noisaea">@noisaea</a> on Twitter, the official User will receive the name and your account will be shut down.</p>

    <p class="minnesota">Remember when registering for noisaea, you warrant that you are the representative of the account (including a recording label or management operating the account) with the authority to bind the user/account to these Terms of Use.</p>

    <p class="minnesota">And be at least 13 years of age.</p>

    <div class="highgate">
      <h3>Rules and Conduct</h3>
    </div>

    <p class="minnesota">By accepting these Terms of Use, which you do if you use the Site in any way, shape, or form, you promise that you will not use the Site for anything that is prohibited by this Terms of Use.</p>

    <p class="minnesota">Any Content (includes, but not limited to User submissions, videos, audio clips, written comments, information, data, text, photographs, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible by Company or its partners on or through the Service.)</p>

    <p class="minnesota">Here is an example of what is prohibited on the site. Any Content that:</p>

    <ul class="minnesota">
      <li>infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty;</li>
      <li>you know is false, misleading, untruthful or inaccurate;</li>
      <li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another's privacy, tortious, obscene, offensive, or profane;</li>
      <li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail ("spamming");</li>
      <li>involves commercial activities and/or sales without Company's prior written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes;</li>
      <li>exploits people in a sexual or violent manner;</li>
      <li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of Company or any third party;</li>
      <li>impersonates any person or entity, including any employee or representative of Noisaea;</li>
      <li>impersonates any Artist, Record Label, Venue, Producer, or Fan;</li>
      <li>belongs on 4chan.</li>
    </ul>

    <p class="minnesota">Keep in mind this is not a full limitation and Content can be removed by the Posting User, Posted User, or Noisaea admins without any consent to the Posting User with no consequences.</p>

    <p class="minnesota">If User A posts a comment on User B’s status and User B does not like that comment because it makes fun of their favorite brand of cereal, Beary Oats, User B has every right to delete that offensive comment. If User A posts the same thing about Beary Oats on User C’s status, User B can’t do anything about it.</p>

    <p class="minnesota">If there is Content that violates any of the above prohibited items and you cannot delete it from your User Page, please use contact me via twitter <a href="https://twitter.com/noisaeaservice">@noisaeaservice.</a></p>

    <p class="minnesota"></p>

    <p class="minnesota"></p>

    <p class="minnesota"></p>

    <p class="minnesota"></p>

    <div class="highgate">
      <h3>Changing and updating and modifying these Terms of Use</h3>
    </div>

    <p class="minnesota">I will be modifying these Terms of Use every once in a while to change, update, suspend, or discontinue any section or paragraph regarding any feature or service on the site.</p>

    <p class="minnesota">Noisaea may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability.</p>

    <p class="minnesota">Please use the “As of” date located at the top of this page to check for changes as it will be updated when a change is made to these Terms of Use.</p>

    <p class="minnesota">It is your sole responsibility to check for and read changes. If a major change goes in to effect, you may receive an email stating the changes to these Terms of Use, but you may not, so make it a habit to check this page every few weeks.</p>

    <div class="highgate">
      <h3></h3>
    </div>

    <div class="highgate">
      <h3></h3>
    </div>

    <div class="highgate">
      <h3></h3>
    </div>

  </div>
</div>
<%= render "partials/uni_footer" %>
