<% if producer.producer_profile.profile_img_file_name.blank? %>
  <div class="sycamore">
    <% if producer_signed_in? && producer.id == current_producer.id %>
      you do not have a profile image yet
    <% else %>
      <%= "#{producer.producer_name} hasn't uploaded a profile image yet" %>
    <% end %>
  </div>
<% else %>
  <%= link_to producer_path(producer) do %>
    <div class="loretta">
      <img srcset="<%= producer.producer_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
    </div>
  <% end %>
<% end %>
