<nav class="englewood">
  <div class="starin pine-ridge">//</div>
  <ul class="taunton pine-ridge">
    <li><%= link_to "dashboard", current_producer, class: "military" %></li>
    <li><%= link_to "profile", edit_producer_profile_path(current_producer), class: "depew" %></li>
    <li><%= link_to "settings", edit_producer_registration_path, class: "depew" %></li>
    <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
  </ul>
</nav>
