<div class="niagara">
  <div class="hedley">
    <%= @artist.artist_name %>
  </div>
</div>

<div class="niagara">
  <div class="following sterling">
    <%= render 'artists/partials/relationships/following' %>
  </div>
</div>

<div class="niagara">
  <div class="follower_count sterling">
    <%= render 'artists/partials/relationships/follower_count' %>
  </div>
</div>

<% unless @artist == current_artist %>
<div class="niagara">
  <div class="highgate busti">
  <div class="follow_button">
    <%= render 'artists/partials/relationships/follow_button' %>
  </div>
  </div>
</div>
<% end %>
