<% if artist.artist_profile.profile_img_file_name.blank? %>
  <div class="sycamore">
    <% if artist_signed_in? && artist.id == current_artist.id %>
      you do not have a profile image yet
    <% else %>
      <%= "#{artist.artist_name} hasn't uploaded a profile image yet" %>
    <% end %>
  </div>
<% else %>
  <%= link_to artist_path(artist) do %>
    <div class="loretta">
      <img srcset="<%= artist.artist_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
    </div>
  <% end %>
<% end %>
