    <aside class="pearl">

      <div class="summer">
        popular //
      </div>

      <% if @posts.any? %>
        <% @posts.sort_by{ |post| -post.post_comments.count }.take(5).each do |post| %>
          <div class="amherst">
            <%= link_to post.title, post_path(post) %>
          </div>
        <% end %>
      <% end %>

      <div class="summer">
        recent //
      </div>

      <% if @posts.any? %>
        <% @posts.take(5).each do |post| %>
          <div class="amherst">
            <%= link_to post.title, post_path(post) %>
          </div>
        <% end %>
      <% end %>

    </aside>
