<h1>noisaea //</h1>
<p>Hey <%= @artist.artist_name %>,</p>
<p>Have you seen your timeline lately? It's totally empty!</p>
<p>I'm guessing your fans want to know if you're alive or not. Go ahead and post something!</p>
<p><%= link_to "Ok, I'll post something.", artist_path(@artist) %> // Don't tell me what to do!</p>
