<%= form_for(VenueMicropostComment.new, url: venue_micropost_comments_path(Venue.find(micropost.venue_id), micropost), remote: true) do |f| %>
<div class="highgate">
  <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
</div>
<div class="ellicott">
  <%= f.submit "comment",  class: "exchange" %>
</div>
<% end %>
