<% if @venue == current_venue %>
  <%= form_for(VenueMicropost.new, url: venue_microposts_path(@venue), remote: true) do |f| %>
    <div class="highgate">
      <%= f.text_area :content, placeholder: "what have you been up to?", class: "court" %>
    </div>
    <div class="ellicott">
      <%= f.submit "post update", class: "exchange" %>
    </div>
  <% end %>
<% end %>
