<% flash.each do |message_type, message| %>
  <% if message_type != "timedout" %>
  <div class="alert-<%= message_type %>">
    <div class="vulcan">
      <%= message %>
    </div>
  </div>
  <% end %>
<% end %>
