<script language="javascript">
  function fbshareCurrentPage()
  {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
<a class="share-facebook" href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook">Facebook</a>
 //
<script language="javascript">
    function tweetCurrentPage()
    { window.open("https://twitter.com/share?url="+escape(window.location.href)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
<a class="share-twitter" href="javascript:tweetCurrentPage()" target="_blank" alt="Share on Twitter">Twitter</a>
