<% if venue.venue_profile.profile_img_file_name.blank? %>
  <div class="sycamore">
    <% if venue_signed_in? && venue.id == current_venue.id %>
      you do not have a profile image yet
    <% else %>
      <%= "#{venue.venue_name} hasn't uploaded a profile image yet" %>
    <% end %>
  </div>
<% else %>
  <%= link_to venue_path(venue) do %>
    <div class="loretta">
      <img srcset="<%= venue.venue_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
    </div>
  <% end %>
<% end %>
