<%= form_for(DeveloperComment.new, url: developer_comments_path(@developer), remote: true) do |f| %>
  <div class="highgate">
    <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
  </div>
  <div class="ellicott">
    <%= f.submit "comment",  class: "exchange" %>
  </div>
<% end %>
