<p>Welcome <%= @resource.artist_name %>!</p>

<p>Before you can start reaping the treasurous rewards of Noisaea, you must first confirm you own this email address by clicking the link below:</p>

<p><%= link_to "I confirm I own #{@resource.email}!", confirmation_url(@resource, confirmation_token: @token) %></p>
