<h1>noisaea //</h1>
<p>Hey <%= @fan.fan_name %>,</p>
<p>Congratulations!</p>
<p>You've just joined Noisaea! What are you going to do next?!</p>
<p>If you answered with anything but, "I'm going to follow a boatload of artists!" then you need to think again.</p>
<p>It's super easy to find artists to follow. Use the <%= link_to "discover", artists_url %> page and find artists based on popularity, location, or genre. There's also a search function if you know how to type letters into a box.</p>
<p>Well I'll leave you alone now to... find some artists!</p>
<p>Sincerely,</p>
<p><%= link_to "Noisaea", root_url %></p>
