<h1>noisaea //</h1>
<p>Hey <%= @fan.fan_name %>,</p>
<p>Your profile is lacking your personal touches.</p>
<p>How are your artists, record labels, venues, and producers going to know who you are?</p>
<p>Unless being mysterious is who you are...</p>
<p>...<%= link_to "go do something to youre profile!", edit_fan_profile_url(@fan) %></p>
<p>Sincerely,</p>
<p><%= link_to "Noisaea", root_url %></p>
