<div class="niagara">
  <div class="hedley">
    <%= @record_label.label_name %>
  </div>
</div>

<div class="niagara">
  <div class="following sterling">
    <%= render 'recordlabels/partials/relationships/following' %>
  </div>
</div>

<div class="niagara">
  <div class="follower_count sterling">
    <%= render 'recordlabels/partials/relationships/follower_count' %>
  </div>
</div>

<% unless @record_label == current_record_label %>
<div class="niagara">
  <div class="highgate busti">
  <div class="follow_button">
    <%= render 'recordlabels/partials/relationships/follow_button' %>
  </div>
  </div>
</div>
<% end %>
