<% if record_label.record_label_profile.profile_img_file_name.blank? %>
  <div class="sycamore">
    <% if record_label_signed_in? && record_label.id == current_record_label.id %>
      you do not have a profile image yet
    <% else %>
      <%= "#{record_label.label_name} hasn't uploaded a profile image yet" %>
    <% end %>
  </div>
<% else %>
  <div class="loretta">
    <img srcset="<%= record_label.record_label_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
  </div>
<% end %>
