<% if @record_label == current_record_label %>
  <%= form_for(RecordLabelMicropost.new, url: record_label_microposts_path(@record_label), remote: true) do |f| %>
    <div class="highgate">
      <%= f.text_area :content, placeholder: "what have you been up to?", class: "court" %>
    </div>
    <div class="ellicott">
      <%= f.submit "post update", class: "exchange" %>
    </div>
  <% end %>
<% end %>
