<%= form_for(ProducerMicropostComment.new, url: producer_micropost_comments_path(@producer, @micropost), remote: true) do |f| %>
  <div class="highgate">
    <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
  </div>
  <div class="ellicott">
    <%= f.submit "comment",  class: "exchange" %>
  </div>
<% end %>
