<% if @artist.fans.any? %>
  <div class="amherst">
    <%= link_to pluralize(@artist.fans.count, "fan"), artist_followers_path(@artist) %>
    <div class="posted">
        <%= link_to pluralize(@artist.fans.where("current_sign_in_at > ?", 30.days.ago).count, "active fan"), artist_followers_path(@artist) %>
    </div>
   </div>
<% else %>
  <div class="amherst">
    0 fans
  </div>
<% end %>
