<% if fan.fan_profile.profile_img_file_name.blank? %>
  <div class="sycamore">
    <% if fan_signed_in? && fan.id == current_fan.id %>
      you do not have a profile image yet
    <% else %>
      <%= "#{fan.fan_name} hasn't uploaded a profile image yet" %>
    <% end %>
  </div>
<% else %>
<div class="loretta">
  <img srcset="<%= fan.fan_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
</div>
<% end %>
