<% if @fan.fan_profile.cover_img_file_name.blank? %>
  <div class="clinton">
    <% if @fan == current_fan %>
      you do not have a cover image yet
    <% else %>
      <%= "#{@fan.fan_name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
<div class="washington">
  <div style="background: url('<%= @fan.fan_profile.cover_img.url(:perfect) %>') no-repeat fixed; background-size: 100%;" class="broadway">
    <div class="northland">
      <%= @fan.fan_name %> <span class="lakeview">
    </div>
  </div>
</div>
<div class="niagara">
  <div class="broadway">
    <img src="<%= @fan.fan_profile.cover_img.url(:perfect) %>" width="100%" height="auto'" />
  </div>
</div>
<% end %>
