/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main-color: #673AB7;
$accent-color1: #B39DDB;
$my-black: #212121;
$normal-font: Georgia, "Times New Roman", Times, serif;
$fancy-font: 'Open Sans', Helvetica, Arial, sans-serif;

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.75em;
  font-family: $normal-font;
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    color: $accent-color1;
  }
}

h1 {
  font-size: 2em;
  font-family: $fancy-font;
  font-weight: 400;
  line-height: 1.25em;
}

h2 {
  font-size: 1.25em;
  font-family: $fancy-font;
}

h3 {
  font-size: 1.25em;
  font-family: $fancy-font;
  font-weight: 400;
}

h4 {
  font-size: 3em;
  font-family: $fancy-font;
  font-weight: 300;
  line-height: 1.25em;
}

.buffalo {
  width: 100%;
}

.delaware {
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  margin: 2vh 0;
  width: 70%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}

.pearl {
  margin: 2vh 0;
  width: 27%;
  display: inline-block;
  vertical-align: top;
}

.alert-notice {
  width: 100%;
  background-color: #4CAF50;
}

.alert-alert {
  width: 100%;
  background-color: #F44336;
}

.vulcan {
  width: 95%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy-font
}

.forest {
  display: none;
  font-family: courier;
  font-size: 6px;
  margin-top: 30vh;
}

@media screen and (max-width: 800px) {

  .main {
    width: 100%;
    margin-right: 0;
  }

  .pearl {
    margin: 10vh 0 2vh 0;
    width: 100%;
  }

}
