/*
 *= require_tree .
 *= require_self
 */

$main-color: #673AB7;
$accent-color1: #D1C4E9;
$accent-color2: #98C548;
$accent-color3: #D7F3A4;
$my-black: #212121;
$normal-font: Georgia, "Times New Roman", Times, serif;
$fancy-font: 'Roboto', Helvetica, Arial, sans-serif;

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.75em;
  font-family: $fancy-font;
  font-weight: 300;
  color: $my-black;
}

a {
  color: $main-color;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $accent-color1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.25em;
}

::selection {
  color: #fff;
  background: $main-color;
}

::-moz-selection {
  color: #fff;
  background: $main-color;
}

.back-second {
  background: #212121;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.background {
  background: url('https://i.imgur.com/9GCiyTD.jpg') no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  z-index: -3;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}

.buffalo {
  width: 100%;
}

.delaware {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  margin: 2vh 0;
  width: 68%;
  margin-right: 4%;
  display: inline-block;
  vertical-align: top;
}

.pearl {
  margin: 2vh 0;
  width: 27%;
  display: inline-block;
  vertical-align: top;
}

.flash_js {
  width: 100%;
  position: relative;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.32);
}

.alert-notice {
  background-color: #4CAF50;
}

.alert-alert {
  background-color: #F44336;
}

.vulcan {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy-font
}

.forest {
  display: none;
  font-family: courier;
  font-size: 6px;
  margin-top: 30vh;
}


/*                    ****************************** PARTIALS ****************************** */

/* ******************* HOME STUFF ********************* */

.grant {
  width: 100%;
  display: inline-block;
  padding: 1vh 0;
  h1 {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 1vh 0;
      position: relative;
      margin-left: 5vw;
      &:first-child {
        margin-left: 0vw;
      }
    }
  }
}

.smith {
  color: #fff;
  &:hover {
    color: $main-color;
  }
}

/* ************** HEADER AND NAV ******************** */

.ontario {
  background-color: $my-black;
}

.erie {
  background-color: $my-black;
}

.fourth {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.32)
}

.dodge {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    background: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.austin {
  width: 90%;
  margin: 0 auto;
}

.military {
  display: inline-block;
  font-size: 1.75em;
  color: #fff;
  padding: 1vh 0;
  &:hover {
    color: $main-color;
  }
}

.prospect {
  padding: 1vh 1vw;
  border: 3px solid $main-color;
  color: $main-color;
  &:hover {
    background: $main-color;
    color: #fff;
  }
}

.hampshire {
  display: inline-block;
  color: $my-black;
  padding: 1vh 0;
  &:hover {
    color: $main-color;
  }
}

.englewood {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100%;
  font-weight: 300;
  background: $my-black;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  .starin {
    color: #fff;
    padding: 6vh 1vw 2vh 1vw;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:hover {
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      color: $main-color;
    }
  }
  .military {
    font-size: 1em;
  }
  .taunton {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 1vh 5vw;
    color: #fff;
    li {
      padding: 1vh 0;
      a{
        svg {
          fill: #fff;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -o-transition: .3s;
        }
        &:hover {
          svg {
            fill: $main-color;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
          }
        }
      }
    }
  }
  .pine-ridge {
    font-size: 2em;
  }
  .fifteenth {
    font-size: 1em;
    li {
      padding: 0;
    }
  }
}

@mixin headeraftereffects {
  width: auto;
  padding: 5px 15px;
  position: absolute;
  background-color: $my-black;
  color: #fff;
  text-align: center;
  margin: 0 2vw;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

#dashboard {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "dashboard";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "dashboard";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#notifications {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  &:after {
    content: "notifications";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $main-color;
    &:after {
      content: "notifications";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#music {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "music";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "music";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#merch {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "merch";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "merch";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#shows {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "shows";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "shows";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#videos {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "videos";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "videos";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#following {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  &:after {
    content: "following";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $main-color;
    &:after {
      content: "following";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}

#profile {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "profile";
    opacity: 0;
    display: none;
    @include headeraftereffects;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "profile";
      opacity: 1;
      display: inline-block;
      @include headeraftereffects;
    }
  }
}


.crescent {
  ul {
    padding: 1vh 1vw;
  }
}

.parkside {
  width: 100%;
  display: inline-block;
  padding: 1vh 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    li {
      display: inline-block;
      padding: 1vh 0;
      position: relative;
      margin-left: 3vw;
      &:first-child {
        margin-left: 0vw;
      }
    }
  }
}

#watson {
  cursor: pointer;
  color: $my-black;
}

.adams {
  cursor: pointer;
  color: $my-black;
  &:hover {
    color: $main-color;
  }
}

.madison {
  margin: 1vh auto;
  text-align: center;
  color: $my-black;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 1vh 1vw;
    }
  }
}

.woodlawn {
  margin: 0;
  padding: 0;
  li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1vh 0 0 0;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:first-child {
      border-left: 0px;
    }
    &:hover {
      color: $main-color;
      svg {
        fill: $main-color;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
      }
    }
  }
  svg {
    fill: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.winslow {
  margin: 0;
  padding: 0;
  li {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1vh 0 0 0;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:first-child {
      border-left: 0px;
    }
    &:hover {
      color: $main-color;
      svg {
        fill: $main-color;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
      }
    }
  }
  svg {
    fill: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.glenwood {
  width: 30px;
  height: 30px;
}

.goulding {
  margin: 0;
  padding: 0;
  li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1vh 0;
    color: #fff;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:first-child {
      border-left: 0px;
    }
    &:hover {
      color: $main-color;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.butler {
  margin: 0;
  padding: 0;
  li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1vh 0;
    color: $my-black;
    box-sizing: border-box;
    &:first-child {
      border-left: 0px;
    }
    &:hover {
      color: $main-color;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.grey {
  margin: 1vh auto;
  display: none;
  text-align: center;
  color: $my-black;
}

.lasalle {
  color: $accent-color2;
  a {
    color: $accent-color2;
    &:hover {
      color: $accent-color3;
    }
  }
}

.depew {
  color: #fff;
  &:hover {
    color: $accent-color2;
  }
}

.leroy {
  color: #666666;
  &:hover {
    color: #fff;
  }
}

/* ******************** FOOTER ******************** */

.kensington {
  clear: both;
  padding: 2vh 0 5vh 0;
  .adams {
    color: #fff;
    &:hover {
      color: $main-color;
    }
  }
  .smith {
    color: #fff;
    &:hover {
      color: $main-color;
    }
  }
}

.claremont {
  margin-top: 8vh;
}

.eggert {
  width: 100%;
  display: inline-block;
  span {
    float: left;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      float: left;
      margin: 0 1vh;
    }
  }
}

.white {
  color: #fff;
}

.seneca {
  color: $my-black;
  &:hover {
    color: $main-color;
  }
}

.william {
  width: 24%;
  margin: 1vh auto;
  display: inline-block;
  vertical-align: top;
}

.south-ogden {
  color: #fff;
}

.facebook {
  color: #666666;
  &:hover {
    color: #3b5998;
  }
}

.twitter {
  color: #666666;
  &:hover {
    color: #55acee;
  }
}

.youtube {
  color: #666666;
  &:hover {
    color: #bb0000;
  }
}

.googleplus {
  color: #666666;
  &:hover {
    color: #dd4b39;
  }
}

.instagram {
  color: #666666;
  &:hover {
    color: #517fa4;
  }
}

.tumblr {
  color: #666666;
  &:hover {
    color: #32506d;
  }
}

.pinterest {
  color: #666666;
  &:hover {
    color: #cb2027;
  }
}

.mfacebook {
  color: #fff;
  &:hover {
    color: #3b5998;
  }
}

.mtwitter {
  color: #fff;
  &:hover {
    color: #55acee;
  }
}

.myoutube {
  color: #fff;
  &:hover {
    color: #bb0000;
  }
}

.mgoogleplus {
  color: #fff;
  &:hover {
    color: #dd4b39;
  }
}

.minstagram {
  color: #fff;
  &:hover {
    color: #517fa4;
  }
}

.mtumblr {
  color: #fff;
  &:hover {
    color: #32506d;
  }
}

.mpinterest {
  color: #fff;
  &:hover {
    color: #cb2027;
  }
}

.sfacebook {
  color: #3b5998;
  &:hover {
    color: $main-color;
  }
}

.stwitter {
  color: #55acee;
  &:hover {
    color: $main-color;
  }
}

.sgoogleplus {
  color: #dd4b39;
  &:hover {
    color: $main-color;
  }
}

.syoutube {
  color: #bb0000;
  &:hover {
    color: $main-color;
  }
}

.situnes {
  color: #5fc9f8;
  &:hover {
    color: $main-color;
  }
}

.samazon {
  color: #ff9900;
  &:hover {
    color: $main-color;
  }
}

.sgoogleplay {
  color: #4285f4;
  &:hover {
    color: $main-color;
  }
}

.sticketfly {
  color: #00aeef;
  &:hover {
    color: $main-color;
  }
}

.sletlyrics {
  color: #4caf50;
  &:hover {
    color: $main-color;
  }
}

/*                          ****************************** USERS ****************************** */

.clinton {
  width: 90%;
  margin: 10vh auto;
  text-align: center;
  font-size: 2em;
  line-height: 1.25em;
}

.northland {
  padding: 28vw 5% 4vh 5%;
  font-size: 5em;
  font-weight: 100;
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.lakeview {
  font-size: .5em;
}

.broadway {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  img {
    text-align: center;
    max-width: 1920px;
    max-height: 640px;
  }
}

.loretta {
  width: 100%;
  margin: 0 auto 1vh auto;
  max-width: 1920px;
  img {
    text-align: center;
    max-width: 1920px;
    max-height: 640px;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    &:hover {
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      opacity: .75;
    }
  }
}

.sycamore {
  width: 90%;
  margin-bottom: 1vh;
  padding: 0;
  line-height: 1.25em;
  min-height: 10vh;
}

.genesee {
  width: 95%;
  margin: 0 auto;
}

.lincoln {
  width: 100%;
  margin: 0 auto;
  max-height: 1200px;
  max-width: 1200px;
}

.hedley {
  font-size: 3em;
  line-height: 1.25em;
}

.jefferson {
  font-size: 1.5em;
  margin: 2vh 0;
}

.fillmore {
  padding-left: 1vh;
}

.hertel {
  margin-bottom: 1vh;
}

.amherst {
  margin: 1vh 0;
}

.harlem {
  margin: 5vh 0;
}

.winspear {
  margin: 1vh 0;
}

.northrup {
  margin: 3vh 0;
}

.highgate {
  margin: 2vh 0;
}

.lisbon {
  margin-bottom: 2vh;
}

.minnesota {
  margin-bottom: 5vh;
}

.ashland {
  font-size: 1.25em;
  padding: 2vh 0;
}

.auburn {
  padding: 2vh 1vw;
}

.walden {
  display: none;
  width: 95%;
  margin-left: 5%;
}

.linden {
  cursor: pointer;
}

.tacoma {
  cursor: pointer;
}

.colvin {
  display: none;
}

.niagara {
  display: none;
}

.washington {
  display: inline;
}

.porter {
  height: 45px;
  margin: 1vh 2vw 1vh 0;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    border-bottom: 3px solid $main-color;
    color: $my-black;
  }
}

.ferry {
  margin: 2vh 0;
}

.lafayette {
  cursor: auto;
  border-bottom: 3px solid $my-black;
}

.smalll {
  line-height: 1.25em;
}

.bird {
  font-size: 2em;
  margin: 3vh 0;
}

.carolina {
  padding: 0 0 4vh 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    border-right: 3px solid transparent;
    padding: 1vh 0;
    a {
      color: $my-black;
      padding: 1vh 2vw;
    }
    &:hover {
      border-right: 3px solid $main-color;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .jersey {
    border-right: 3px solid $my-black;
  }
}

.potomac {
  font-size: 1.5em;
  padding: 0;
  list-style: none;
  margin: 2vh 0;
  li {
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding: 1vh 0 2vh 0;
    margin: 0 2vw;
    a {
      color: $my-black;
      padding: 1vh 0;
    }
    &:hover {
      border-bottom: 3px solid $main-color;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .jersey {
    border-bottom: 3px solid $my-black;
  }
}

.vermont {
  font-size: 2em;
  margin-bottom: 5vh;
  line-height: 1.15em;
}

.busti {
  text-align: center;
}

.columbus {
  text-align: left;
}

.baird {
  text-align: right;
}

.winter {
  padding: 25px 0;
}

.blaine {
  padding: 0 .25vw;
}

.gray {
  color: #aaa;
}

.utica {
  width: 9.5%;
  margin: 3vh auto;
  display: inline-block;
  vertical-align: top;
}

.allen {
  width: 24%;
  margin: 1vh auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.bryant {
  font-size: 1.25em;
}

.ogden {
  width: 32%;
  margin: 1vh auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.fargo {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.sugar {
  color: $accent-color2;
  &:hover {
    color: $accent-color3;
  }
}

.lovering {
  display: none;
}

.virgil {
  display: none;
}

.plymouth {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.prepurchaseform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 10% 0 0;
  text-align: center;
  z-index: 1001;
  display: none;
  .prepurchaseforminside {
    width: 65%;
    background: #fff;
    margin: 5vh auto;
  }
  .hey {
    height: 300px;
    object-fit: cover;
  }
}

#front {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1001;
  display: none;
  .lightbox-image {
    width: 90vh;
    margin: 5vh auto;
  }
}

#back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1000;
  display: none;
}

#riley {
  cursor: pointer;
}

.blur {

  -webkit-filter: blur(3px);
}

#close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  color: $my-black;
  text-decoration: none;
  position: absolute;
  z-index: 1001;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: black;
    position: absolute;
    left: 25px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: black;
    position: absolute;
    left: 25px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
}

#fan-artist-click, #fan-record-label-click, #fan-venue-click, #fan-producer-click {
  cursor: pointer;
  padding-bottom: 1vh;
  border-bottom: 1px solid $my-black;
}

.posted {
  font-size: .75em;
}

.pagination {
  margin: 5vh 0 0 0;
  display: inline-block;
  font-size: 1.25em;
  .page {
    padding: 1vh 1vw;
  }
  .current {
    font-size: 1.5em;
  }
  .first {
    padding: 1vh 2vw;
  }
  .last {
    padding: 1vh 2vw;
  }
  .gap {
    display: none;
  }
}

.highland {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}

.atlantic {
  width: 7%;
  display: inline-block;
  vertical-align: top;
}

.lexington {
  width: 83%;
  display: inline-block;
  vertical-align: top;
}

.anderson {
  line-height: .75em;
  font-size: 1.50em;
}

/*                            *********************************** TRACKS *********************** */

audio {
  height: 0px;
}

.audioplayer{
  width: 85%;
  height: 10vh;
  margin: 0 auto 5vh auto;
}

.timeline-container {
  width: 90%;
  display: inline-block;
  vertical-align: top;
}

.track-title {
  font-size: 2em;
  margin-bottom: 2vh;
  line-height: 1.15em;
}

#pButton{
  border: none;
  background: rgba(0, 0, 0, 0);
  display: inline-block;
}

.play {
  width: 7%;
  font-size: 7em;
  display: inline-block;
  line-height: 10px;
  cursor: pointer;
  &:after {
    content: "\203A";
  }
}

.pause {
  width: 7%;
  font-size: 3em;
  display: inline-block;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  &:after {
    content: "| |";
  }
}

#timeline{
  width: 80%;
  height: 5px;
  margin-bottom: 4px;
  display: inline-block;
  background: rgba(0, 0, 0, 1);
}

#playhead{
  width: 25px;
  height: 15px;
  margin-top: -5px;
  background: rgba(0, 0, 0, 1);
}

#total_duration {
  display: inline-block;
}

#current_time {
  display: inline-block;
}

.show-lyrics {
  display: none;
}

.hide {
  display: none;
}

.track-details {
  display: none;
}

.hide-lyrics {
  display: none;
}

/*                           ****************************** NOTIFICATIONS ****************** */

.norwood {
  background: #BBDEFB;
}

.livingston {
  background: #FFCDD2;
}

.putnam {
  background: #C8E6C9;
}

.normal {
  padding: 0;
  font-size: 1em;
  font-weight: 300;
  border: none;
  background-color: transparent;
  color: $accent-color2;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $accent-color3;
  }
}

/*                           ****************************** FORMS ****************************** */

input {
  font-family: $fancy-font;
}

textarea {
  font-family: $fancy-font;
}

.elmwood {
  width: 40%;
  margin: 5vh auto;
}

.huron {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid $my-black;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 3px solid $my-black;
  }
}

.chippewa {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 25vh;
  font-size: 18px;
  padding: 20px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid $my-black;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 3px solid $my-black;
  }
}

select {
  width: 100%;
  font-size: 18px;
  font-family: $fancy-font;
  padding: 19px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid $my-black;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 3px solid $my-black;
  }
}

::-webkit-input-placeholder {
  text-align: right;
}

:-moz-placeholder {
  text-align: right;
}

::-moz-placeholder {
  text-align: right;
}

:-ms-input-placeholder {
  text-align: right;
}

.mohawk {
}

.maryland {
  width: 32%;
  margin: 2vh 0;
  display: inline-block;
  vertical-align: top;
}

.hudson {
  width: 49%;
  margin: 2vh 0;
  display: inline-block;
  vertical-align: top;
}

.ellicott {
  width: 100%;
  margin: 2vh 0;
}

.franklin {
  margin: 15vh 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  box-sizing: border-box;
  &:after {
    content: "this can never be undone!";
    width: 36%;
    font-size: 1.3em;
    padding: 20px 0;
    margin: -3vh 0;
    display: block;
    position: absolute;
    border: 3px solid #F44336;
    background-color: #F44336;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    &:after {
      content: "this can never be undone!";
      width: 36%;
      font-size: 1.3em;
      padding: 20px 0;
      margin: 2vh 0;
      display: block;
      position: absolute;
      border: 3px solid #F44336;
      background-color: #F44336;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      opacity: 1;
      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.tonawanda {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 1.3em;
  background-color: #fff;
  border: 3px solid #F44336;
  color: #F44336;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  font-weight: 300;
  &:hover {
    background-color: #F44336;
    color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.exchange {
  width: 100%;
  padding: 2vh 5vw;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  border: 3px solid $main-color;
  background-color: transparent;
  color: $main-color;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $main-color;
    color: #fff;
  }
}

.linwood {
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 1.25em;
  border: none;
  background-color: transparent;
  color: $main-color;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $accent-color1;
  }
}

.seventh {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: .75em;
  border: none;
  background-color: transparent;
  color: $accent-color2;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $accent-color3;
  }
}

.virginia {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.michigan {
  margin:1vh 0;
}

.court {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 15vh;
  font-size: 18px;
  padding: 20px;
  border: 3px solid $my-black;
  background: transparent;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    background: #fff;
  }
}

.tennyson {
  cursor:pointer;
}

.homer {
  cursor:pointer;
}

.plus {
  padding: 1vh 1vw;
  margin: 2vh 0;
  text-align: center;
  border: 3px solid $accent-color2;
  color: $accent-color2;
  font-size: 1.25em;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    background: $accent-color2;
    color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

#plus1 {
  display: none;
}

#show_field2 {
  display: none;
}

#plus2 {
  display: none;
}

#show_field3 {
  display: none;
}

#plus3 {
  display: none;
}

#show_field4 {
  display: none;
}

#plus4 {
  display: none;
}

#show_field5 {
  display: none;
}

#plus5 {
  display: none;
}

#show_field6 {
  display: none;
}

#plus6 {
  display: none;
}

#show_field7 {
  display: none;
}

#show_field8 {
  display: none;
}

.progress {
  max-width: 100%;
  margin: 1vh 0;
  background-color: $my-black;
  .bar {
    padding-left: 0.2em;
    color: white;
    display: none;
  }
}

#error_explanation {
  color: #F44336;
  ul {
    margin: 1vh 0;
    list-style: none;
  }
}

/*                           ****************************** STATIC ****************************** */

/* **************************** HOME **************** */


.bailey {
  margin: 10vh 0;
}

.delavan {
  padding: 2vh 0;
}

.a {
  width: 100%;
  background: rgba(0,0,0,.5);
  color: #fff;
}

.b {
  padding: 5vh 0;
}

.c {
  width: 100%;
  background: #fff;
  color: $my-black;
}

.d {
  width: 70%;
  font-size: 1.5em;
  padding: 1vh 1vw;
  font-weight: 300;
  text-align: right;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: inline-block;
  box-sizing: border-box;
}
.e {
  width: 30%;
  font-size: 1.5em;
  padding: 1vh 1vw;
  font-weight: 300;
  text-align: center;
  background: transparent;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    border: 3px solid $main-color;
    background: $main-color;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.f {
  width: 100%;
  margin: 2vh 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    opacity: .75;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.g {
  text-align: center;
  font-size: 2em;
  padding: 5vh 0;
}

.h {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.i {
  width: 69%;
  display: inline-block;
  vertical-align: top;
}

.j {
  padding: 2vh 0;
}

.k {
  margin: 5vh auto;
}

.l {
  padding: 5vh 0;
}

.m {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  margin: 1vh 0;
}

.niagara-falls {
  text-align: center;
  font-size: 15em;
  font-weight: 400;
  line-height: 1em;
  text-shadow: 1px 1px 0px #fff;
  a {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    &:hover {
      color: $my-black;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
    }
  }
}

.wehrle {
  padding: 1vh 1vw;
  border: 3px solid #fff;
  color: #fff;
  &:hover {
    background: $main-color;
    border: 3px solid $main-color;
    color: #fff;
  }
}

.kings {
  font-size: 1.25em;
}

.temp {
  font-size: 1.5em;
}

.sanders {
  font-size: 1.75em;
}

.large {
  font-size: 2em;
}

.miniback {
  height: 570px;
  padding-top: 30px;
  background-size: 1920px 600px;
  background-repeat: no-repeat;
  background-position: center top;
}

#postbackground {
  background-image: url(https://i.imgur.com/uyruq67.jpg);
}

#musicbackground {
  background-image: url(https://i.imgur.com/0niwGW3.jpg);
}

#showsbackground {
  background-image: url(https://i.imgur.com/xHWTmYL.jpg);
}

#videosbackground {
  background-image: url(https://i.imgur.com/NnlibHH.jpg);
}

#merchbackground {
  background-image: url(https://i.imgur.com/eNcBlGn.jpg);
}

.q {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  z-index: 3;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.r {
    width: 65%;
    padding: 5vh 0;
    margin: 0 auto;
}

/* ************************ REGISTER AND SIGN IN *************** */

.tupper {
  margin: 10vh auto;
  font-size: 3em;
  text-align: center;
}

.elm {
  width: 48%;
  margin: 10vh auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 3em;
}

.oak {
  width: 32%;
  margin: 15vh auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 1.5em;
}

.edward {
  border-bottom: 3px solid $my-black;
  color: $my-black;
  padding: 3vh 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $main-color;
    border-bottom: 3px solid $main-color;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

/*                           ****************************** BLOG ****************************** */

/* ************************* POSTS **************************** */

.kenmore {
  width: 50%;
  margin: 2vh auto;
}

.north {
  font-weight: 300;
  font-size: 5em;
  margin: 10vh 0 15vh 0;
}

.best {
  word-break: break-word;
  white-space: pre-line;
  margin: 3vh 0;
  h3 {
    margin: 1vh 0 -20px 0;
  }
}

.summer {
  font-size: 1.25em;
  margin: 2vh 0;
}

.eagle {
  width: 100%;
  background-color: #FFF176;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.swan {
  width: 100%;
  background-color: #E0E0E0;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.code {
  background: #212121;
  white-space: initial;
  .code-top {
    background: #ccc;
    font-style: italic;
    padding: 1vh 2vw;
  }
  .type {
    color: #fff;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    word-break: normal;
    line-height: 1.5;
    overflow: auto;
    padding: 1vh 2vw;
    white-space: pre;
    .white {
      color: #fff;
    }
    .darkblue {
      color: #07133A;
    }
    .lightblue {
      color: #7986AC;
    }
    .blue {
      color: #2F4073;
    }
    .darkgreen {
      color: #004400;
    }
    .lightgreen {
      color: #87CC87;
    }
    .green {
      color: #2D882D;
    }
    .red {
      color: #AA3939;
    }
    .yellow {
      color: #AAA939;
    }
    .orange {
      color: #AA6C39;
    }
  }
}

@media screen and (max-width: 1600px) {

  .utica {
    width: 12%;
  }

  .broadway {
    img {
      max-height: calc(1600px / 3);
    }
  }

}

@media screen and (max-width: 1450px) {

  .north {
    font-size: 4em;
  }

  .niagara-falls {
    font-size: 13.25em;
  }

  .northland {
    padding: 25vw 5% 4vh 5%;
  }

}

@media screen and (max-width: 1250px) {

  .niagara-falls {
    font-size: 10em;
  }

  .elmwood {
    width: 55%;
  }

  .franklin {
    &:after {
      width: 49.5%;
    }
    &:hover{
      &:after {
        width: 49.5%;
      }
    }
  }

  .timeline-container {
    width: 87%;
  }

  .play {
    width: 10%;
  }

  .pause {
    width: 10%;
  }

  #timeline{
    width: 75%;
  }

}

@media screen and (max-width: 1000px) {

  .utica {
    width: 19%;
  }

  .broadway {
    img {
      max-height: calc(1000px / 3);
    }
  }

}


@media screen and (max-width: 975px) {

  .niagara-falls {
    font-size: 9em;
  }

  .northland {
    padding: 24vw 5% 4vh 5%;
  }

}

@media screen and (max-width: 850px) {

  .niagara-falls {
    font-size: 8em;
  }

    #timeline{
      width: 70%;
    }

}

@media screen and (max-width: 800px) {

  .flash_js {
    width: 75%;
    margin: 0 auto;
  }

  .main {
    width: 100%;
    margin-right: 0;
  }

  .pearl {
    margin: 7vh 0 2vh 0;
    width: 100%;
  }

  .niagara-falls {
    font-size: 7em;
  }

  .delavan {
    padding: 15vh 0;
  }

  .miniback {
    height: 540px;
    background-size: 1920px 500px;
  }

  .h {
    width: 100%;
  }

  .i {
    width: 100%;
  }

  .k {
    width: 100%;
    text-align: center;
  }

  .m {
    width: 100%;
  }

  .elm {
    width: 100%;
    margin: 10vh auto;
  }

  .oak {
    width: 100%;
    margin: 10vh auto;
    font-size: 3em;
  }

  .kenmore {
    width: 90%;
  }

  .elmwood {
    width: 100%;
  }

  .court {
    height: 30vh;
  }

  .franklin {
    &:after {
      width: 96%;
    }
    &:hover{
      &:after {
        width: 96%;
      }
    }
  }

  .niagara {
    display: inline;
  }

  .washington {
    display: none;
  }

  .broadway {
    img {
      max-height: calc(800px / 3);
    }
  }

  .utica {
    width: 24%;
  }

  .allen {
    width: 49%;
  }

  .ogden {
    width: 49%;
  }

  .fargo {
    width: 100%;
  }

  .hedley {
    text-align: center;
  }

  .sterling {
    text-align: center;
  }

  .william {
    width: 49%;
  }

  .south-ogden {
    text-align: center;
  }

  .englewood {
    height: auto;
    .starin {
      padding: 1vh 1vw;
    }
  }

  .test {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    ul {
      margin: 3vh 0;
    }
  }

  #closemenu {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  z-index: 1001;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover {
    color: $main-color;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    &:after {
      background: $main-color;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    &:before {
      background: $main-color;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
  }
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: #fff;
    position: absolute;
    left: 13px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: #fff;
    position: absolute;
    left: 13px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    }
  }

  .crescent {
    ul {
      display:none;
      li {
        display: none;
      }
    }
  }

  .carolina {
    text-align: center;
    li {
      a {
        padding: 1vh 4vw;
      }
    }
  }

  .potomac {
    text-align: center;
  }

  .vermont {
    margin: 4vh 0;
  }

  .north {
    font-size: 3em;
  }

  .audioplayer {
    width: 100%;
  }

  .timeline-container {
    width: 90%;
  }

  .play {
    width: 7%;
  }

  .pause {
    width: 7%;
  }

  #timeline {
    width: 80%;
  }

  .play {
    font-size: 6em;
  }

  .atlantic {
    width: 15%;
  }

  .highland {
    width: 15%;
  }

  .anderson {
    font-size: 1em;
    line-height: 1em;
  }

  .d {
    font-size: 1em;
  }

  .e {
    font-size: 1em;
  }

  #front {
    .lightbox-image {
      width: 90vw;
    }
  }

  .prepurchaseform {
    .prepurchaseforminside {
      width: 90%;
    }
    .hey {
      height: 225px;
    }
  }

  .winter {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 675px) {

  .niagara-falls {
    font-size: 5em;
  }

  .miniback {
    height: 465px;
    background-size: 1920px 440px;
  }

  .timeline-container {
    width: 87%;
  }

  .play {
    width: 10%;
  }

  .pause {
    width: 10%;
  }

  #timeline{
    width: 75%;
  }

}

@media screen and (max-width: 585px) {

  .niagara-falls {
    font-size: 4em;
  }

  .miniback {
    height: 410px;
    background-size: 1920px 375px;
  }

  .north {
    font-size: 2em;
  }

  #timeline{
    width: 70%;
  }

}

@media screen and (max-width: 500px) {

  .miniback {
    height: 360px;
    background-size: 1920px 300px;
  }

  .timeline-container{
    width: 85%;
  }

  .play {
    width: 13%;
  }

  .pause {
    width: 13%;
  }

}

@media screen and (max-width: 425px) {

  .niagara-falls {
    font-size: 3em;
  }

  .miniback {
    height: 335px;
    background-size: 1920px 280px;
  }

  .north {
    font-size: 1.75em;
  }

  .utica {
    width: 32%;
    margin: 3vh 0;
  }

  .allen {
    width: 100%;
  }

  .ogden {
    width: 100%;
  }

  .broadway {
    img {
      max-height: calc(425px / 3);
    }
  }

  .william {
    width: 100%;
  }

  #timeline{
    width: 62%;
  }

  .timeline-container{
    width: 80%;
  }

  .play {
    width: 17%;
  }

  .pause {
    width: 17%;
  }

  .prepurchaseform {
    .hey {
      height: 150px;
    }
  }

}

@mixin tosaftereffect {
  width: auto;
  padding: 5px 15px;
  display: block;
  position: absolute;
  background-color: $my-black;
  color: #fff;
  text-align: center;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

#tosusername {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: $main-color;
  &:after {
    content: "username, artist, record label, venue, producer, fan name.";
    opacity: 0;
    @include tosaftereffect;
  }
  &:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $accent-color1;
    &:after {
      content: "username, artist, record label, venue, producer, fan name.";
      opacity: 1;
      @include tosaftereffect;
    }
  }
}
