$main-color: #1DE9B6;
$accent-color1: #A7FFEB;
$my-black: #212121;
$normal-font: Georgia, "Times New Roman", Times, serif;
$fancy-font: 'Open Sans', Helvetica, arial, sans-serif;

.clinton {
  width: 90%;
  margin: 10vh auto;
  text-align: center;
  font-size: 2em;
  font-family: $fancy-font;
  line-height: 1.25em;
}

.broadway {
  width: 100%;
  margin: 0 auto;
  max-height: 640px;
}

.sycamore {
  width: 90%;
  margin: 2vh auto;
  text-align: center;
  font-family: $fancy-font;
  line-height: 1.25em;
  min-height: 10vh;
}

.genesee {
  width: 95%;
  margin: 0 auto;
  max-height: 640px;
}

.hedley {
  font-size: 2em;
  font-family: $fancy-font;
  font-weight: 700;
  line-height: 1.25em;
}

.jefferson {
  font-family: $fancy-font;
  font-weight: 700;
  margin-bottom: 1vh;
}

.fillmore {
  font-family: $fancy-font;
  padding-left: 1vh;
  margin-bottom: 1vh;
}

.hertel {
  font-family: $fancy-font;
  margin-bottom: 1vh;
}

.amherst {
  font-family: $fancy-font;
  margin: 1vh 0;
}

.harlem {
  margin: 5vh 0;
  font-family: $fancy-font;
}

.winspear {
  margin: 1vh 0;
}

.northrup {
  margin: 3vh 0;
}

.highgate {
  margin: 2vh 0;
}

.lisbon {
  margin-bottom: 2vh;
}

.minnesota {
  margin-bottom: 5vh;
}

.walden {
  display: none;
  width: 95%;
  margin-left: 5%;
}

.linden {
  cursor: pointer;
}

.tacoma {
  cursor: pointer;
}

.colvin {
  display: none;
}

.niagara {
  display: none;
}

.washington {
  display: inline;
}

.porter {
  height: 45px;
  font-family: $fancy-font;
  margin: 1vh 2vw 1vh 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    border-bottom: 3px solid $main-color;
    color: $my-black;
  }
}

.ferry {
  margin: 2vh 0;
  font-family: $fancy-font;
}

.lafayette {
  cursor: auto;
  border-bottom: 3px solid $my-black;
}

.utica {
  width: 19%;
  margin: 1vh auto;
  display: inline-block;
  font-family: $fancy-font;
  vertical-align: top;
}

.allen {
  width: 24%;
  margin: 1vh auto;
  display: inline-block;
  font-family: $fancy-font;
  vertical-align: top;
  text-align: center;
}

.inline {
  display: none;
}

@media screen and (min-width: 1600px) {

    .utica {
      width: 11.5%;
    }

}

@media screen and (max-width: 1000px) {

    .utica {
      width: 32%;
    }

}

@media screen and (max-width: 800px) {

  .niagara {
    display: inline;
  }

  .washington {
    display: none;
  }

  .utica {
    width: 49%;
  }

  .allen {
    width: 49%;
  }

}

@media screen and (max-width: 425px) {

    .utica {
      width: 100%;
    }

    .allen {
      width: 100%;
    }

    /* .tabs {
      width: 100%;
      border-top: 1px solid $my-black;
      background-color: rgba(0, 0, 0, 0.33);
      bottom: 0;
      position: fixed;
    }

    .tab-inside{
      width: 32%;
      border-left: 1px solid $my-black;
      display: inline-block;
      padding: 2vh 0;
      text-align: center;
      line-height: 1em;
      &:first-child {
        border-left: none;
      }
    } */

}
