<%= form_for(ArtistMicropostComment.new, url: artist_micropost_comments_path(@artist, @micropost), remote: true) do |f| %>
  <div class="highgate">
    <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
  </div>
  <div class="ellicott">
    <%= f.submit "comment",  class: "exchange" %>
  </div>
<% end %>
